@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
h1,
h2,
h3 {
  font-family: "EB Garamond", serif;
}

h4,
p,
button {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

a {
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

nav {
  flex: 0 0 auto;
  display: flex;
  font-family: "EB Garamond", serif;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(160, 142, 90);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 10px;
}

#nav-links {
  width: 50%;
  text-align: right;
}

#hamburger-icon {
  font-size: 60px;
  color: rgb(160, 142, 90);
  position: relative;
  top: 10px;
  right: 20px;
}

#nav-list {
  display: none;
  position: absolute;
  width: 50%;
  top: 100px;
  text-align: right;
  background: white;
  padding: 10px 50px 10px 10px;
}

#nav-list.visible {
  display: block;
}

#nav-list li {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-family: "EB Garamond", serif;
}
#nav-list li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#logo-container {
  display: flex;
  width: 50%;
  padding: 10px;
  overflow: hidden;
}
#logo-container img {
  width: 95px;
}

.active {
  display: block;
}

#logo-container img {
  width: 200px;
  margin: 20px;
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background: rgb(160, 142, 90);
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/* ----------responsive media query/break points--------- */
/* tablet or large mobile */
@media only screen and (min-width: 480px) {
  /* nav */
  #hero-section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
  }
  #hero-section img {
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
  }
  #hero-section h1 {
    font-size: 45px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #hero-section .order-button-home {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 50px;
  }
  .container {
    margin-bottom: 40px;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #drink-grid .item {
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
  }
  #drink-grid .item h3 {
    padding: 10px;
    font-size: 20px;
  }
  #drink-grid .item p {
    padding: 10px;
    font-size: 20px;
  }
  #drink-grid .item img {
    width: 50%;
  }
  #drink-food-button-menu {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
  }
  #drink-food-button-menu .coctail-food-button-look-menu {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  #promotion-section-home {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 155px;
    margin-top: 60px;
  }
  #promotion-section-home #promotion-section {
    padding-top: 40px;
    text-align: center;
  }
  #promotion-section-home #promotion-section h2 {
    padding: 10px;
    font-size: 35px;
  }
  #promotion-section-home #promotion-section img {
    align-items: center;
    width: 100%;
  }
  #Start-order-hero-section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  #Start-order-hero-section h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    padding-top: 100px;
  }
  #Start-order-hero-section .order-drink-button {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 10px;
  }
  #Start-order-hero-section .order-food-button {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 200px;
  }
  #drink-menu {
    /* Clear floats after the columns */
  }
  #drink-menu #drink-menu-column {
    float: left;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 200px;
  }
  #drink-menu #drink-menu-column h4 {
    padding: 10px;
    font-size: 20px;
    margin-left: 50px;
  }
  #drink-menu #drink-menu-column p {
    padding: 10px;
    font-size: 20px, solid;
    margin-left: 50px;
  }
  #drink-menu #drink-menu-column h3 {
    padding: 10px;
    font-size: 25px;
    margin-left: 50px;
  }
  #drink-menu #add-drink-button-column {
    float: right;
    padding: 5px;
    padding-left: 68px;
    margin-bottom: 200px;
  }
  #drink-menu #add-drink-button-column .button-add-drink {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-top: 20px;
  }
  #drink-menu .left, #drink-menu .right {
    width: 50%;
  }
  #drink-menu #drink-menu:after {
    content: "";
    display: table;
    clear: both;
  }
  #hero-section-menu {
    padding-top: 60px;
  }
  #food-section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 200px;
  }
  #food-section h2 {
    padding-top: 60px;
  }
  #food-section h3 {
    padding: 10px;
    font-size: 35px;
    color: rgb(160, 142, 90);
  }
  #promotion-section {
    padding-top: 60px;
    text-align: center;
  }
  #promotion-section h2 {
    padding: 10px;
    font-size: 35px;
  }
  #promotion-section img {
    align-items: center;
    width: 100%;
  }
  #masterclass-section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 40px;
  }
  #masterclass-section p {
    font-size: 20px;
  }
  #masterclass-section .book-masterclass-button {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  #hero-section-story-page {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  #hero-section-story-page img {
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
  }
  #our-story-page-content {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 40px;
  }
  #our-story-page-content h3 {
    padding: 40px;
    font-size: 30px;
  }
  #our-story-page-content p {
    font-size: 20px;
  }
  #Add-food-page-content {
    margin-bottom: 200px;
  }
  #Add-food-page-content h2 {
    font-size: 30px;
  }
  #Add-food-page-content h4 {
    padding: 10px;
    font-size: 20px;
    margin-left: 40px;
  }
  #Add-food-page-content h3 {
    padding: 10px;
    font-size: 20px;
    margin-left: 40px;
    color: rgb(0, 0, 0);
  }
  #Add-food-page-content p {
    margin-left: 40px;
  }
  #food-menu {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu #food-menu-column1 {
    flex: 70% 30%;
    float: left;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  #food-menu #food-menu-column1 h4 {
    font-size: 20px;
    color: rgb(149, 56, 56);
  }
  #food-menu #food-menu-column1 p {
    font-size: 20px;
    padding-left: 10px;
  }
  #food-menu #food-menu-column1 em {
    font-size: 20px;
  }
  #food-menu #food-menu-column1 {
    float: right;
    padding-right: 110px;
    margin-bottom: 20px;
  }
  #food-menu #food-menu-column1 .button-add-food {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 95px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu .left, #food-menu .right {
    width: 70% 30%;
  }
  #food-menu #food-menu:after {
    content: "";
    display: table;
    clear: both;
  }
  #small-plates-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu2 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu2 #food-menu-column2 {
    flex: 70% 30%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu2 #food-menu-column2 h4 {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  #food-menu2 #food-menu-column2 p {
    font-size: 20px;
    padding-left: 10px;
  }
  #food-menu2 #food-menu-column2 em {
    font-size: 20px;
    color: rgb(160, 142, 90);
  }
  #food-menu2 #food-menu-column2 {
    float: right;
    padding-right: 70px;
    margin-bottom: 20px;
  }
  #food-menu2 #food-menu-column2 .button-add-food2 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
  }
  #food-menu2 .left, #food-menu2 .right {
    width: 70% 30%;
  }
  #food-menu2 #food-menu2:after {
    content: "";
    display: table;
    clear: both;
  }
  #SOMETHING-LARGER-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu3 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu3 #food-menu-column3 {
    flex: 70% 30%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu3 #food-menu-column3 h4 {
    font-size: 20px;
  }
  #food-menu3 #food-menu-column3 p {
    font-size: 20px;
    padding-left: 10px;
  }
  #food-menu3 #food-menu-column3 em {
    font-size: 20px;
    color: rgb(160, 142, 90);
  }
  #food-menu3 #food-menu-column3 {
    float: right;
    padding-right: 50px;
    margin-bottom: 20px;
  }
  #food-menu3 #food-menu-column3 .button-add-food3 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 95px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu3 .left, #food-menu3 .right {
    width: 70% 30%;
  }
  #food-menu3 #food-menu3:after {
    content: "";
    display: table;
    clear: both;
  }
  #Burgers-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu4 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu4 #food-menu-column4 {
    flex: 70% 30%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu4 #food-menu-column4 h4 {
    font-size: 20px;
  }
  #food-menu4 #food-menu-column4 p {
    font-size: 20px;
    padding-left: 10px;
  }
  #food-menu4 #food-menu-column4 em {
    font-size: 20px;
    padding-left: 50px;
    color: rgb(160, 142, 90);
  }
  #food-menu4 #food-menu-column4 {
    float: right;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  #food-menu4 #food-menu-column4 .button-add-food4 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 55px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu4 .left, #food-menu4 .right {
    width: 70% 30%;
  }
  #food-menu4 #food-menu4:after {
    content: "";
    display: table;
    clear: both;
  }
  #Dessert-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu5 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu5 #food-menu-column5 {
    flex: 70% 30%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu5 #food-menu-column5 h4 {
    font-size: 20px;
  }
  #food-menu5 #food-menu-column5 p {
    font-size: 20px;
    padding-left: 10px;
  }
  #food-menu5 #food-menu-column5 em {
    font-size: 20px;
    padding-left: 50px;
  }
  #food-menu5 #food-menu-column5 {
    float: right;
    padding-right: 200px;
    margin-bottom: 20px;
  }
  #food-menu5 #food-menu-column5 .button-add-food5 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu5 .left, #food-menu5 .right {
    width: 70% 30%;
  }
  #food-menu5 #food-menu5:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media screen and (min-width: 780px) {
  /* nav */
  nav {
    padding: 40px 40px 0px 40px;
  }
  nav #nav-list {
    display: block;
    position: absolute;
    text-align: right;
    box-shadow: none;
    padding: 20px;
  }
  nav #nav-list li {
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
  }
  nav #hamburger-icon {
    display: none;
  }
  #hero-section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
  }
  #hero-section img {
    align-items: center;
    width: 100%;
  }
  #hero-section h1 {
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #hero-section .order-button-home {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 50px;
  }
  .container {
    margin-bottom: 40px;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #drink-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  #drink-food-button-menu {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
  }
  #drink-food-button-menu .coctail-food-button-look-menu {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  #promotion-section-home {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 155px;
  }
  #promotion-section-home #promotion-section {
    text-align: center;
  }
  #promotion-section-home #promotion-section h2 {
    padding: 10px;
    font-size: 35px;
  }
  #promotion-section-home #promotion-section img {
    align-items: center;
    width: 100%;
  }
  #masterclass-section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 40px;
  }
  #masterclass-section p {
    font-size: 25px;
  }
  #masterclass-section .book-masterclass-button {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 25px 45px;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  #our-story-page-content {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 40px;
  }
  #our-story-page-content h3 {
    padding: 40px;
    font-size: 35px;
  }
  #our-story-page-content p {
    font-size: 25px;
  }
  #Add-food-page-content {
    margin-bottom: 200px;
  }
  #Add-food-page-content h2 {
    font-size: 35px;
  }
  #Add-food-page-content h4 {
    padding: 10px;
    font-size: 25px;
    margin-left: 40px;
  }
  #Add-food-page-content h3 {
    padding: 10px;
    font-size: 25px;
    margin-left: 40px;
    color: rgb(0, 0, 0);
  }
  #Add-food-page-content p {
    margin-left: 40px;
  }
  #food-menu {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu #food-menu-column1 {
    flex: 50%;
    float: left;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  #food-menu #food-menu-column1 h4 {
    font-size: 25px;
    color: rgb(149, 56, 56);
    padding-top: 30px;
  }
  #food-menu #food-menu-column1 p {
    font-size: 25px;
    padding-left: 10px;
  }
  #food-menu #food-menu-column1 em {
    font-size: 25px;
  }
  #food-menu #food-menu-column1 {
    float: right;
    padding-right: 110px;
    margin-bottom: 20px;
  }
  #food-menu #food-menu-column1 .button-add-food {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 100px;
    margin-right: 20px;
  }
  #food-menu .left, #food-menu .right {
    width: 50%;
  }
  #food-menu #food-menu:after {
    content: "";
    display: table;
    clear: both;
  }
  #small-plates-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu2 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu2 #food-menu-column2 {
    flex: 50%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu2 #food-menu-column2 h4 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  #food-menu2 #food-menu-column2 p {
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
  }
  #food-menu2 #food-menu-column2 em {
    font-size: 25px;
    color: rgb(160, 142, 90);
  }
  #food-menu2 #food-menu-column2 {
    float: right;
    padding-right: 70px;
    margin-bottom: 20px;
  }
  #food-menu2 #food-menu-column2 .button-add-food2 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 70px;
    margin-right: 20px;
  }
  #food-menu2 .left, #food-menu2 .right {
    width: 50%;
  }
  #food-menu2 #food-menu2:after {
    content: "";
    display: table;
    clear: both;
  }
  #SOMETHING-LARGER-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu3 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu3 #food-menu-column3 {
    flex: 50%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu3 #food-menu-column3 h4 {
    font-size: 25px;
  }
  #food-menu3 #food-menu-column3 p {
    font-size: 25px;
    padding-left: 10px;
  }
  #food-menu3 #food-menu-column3 em {
    font-size: 25px;
    color: rgb(160, 142, 90);
  }
  #food-menu3 #food-menu-column3 {
    float: right;
    padding-right: 50px;
    margin-bottom: 20px;
  }
  #food-menu3 #food-menu-column3 .button-add-food3 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 95px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu3 .left, #food-menu3 .right {
    width: 50%;
  }
  #food-menu3 #food-menu3:after {
    content: "";
    display: table;
    clear: both;
  }
  #Burgers-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu4 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu4 #food-menu-column4 {
    flex: 50%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu4 #food-menu-column4 h4 {
    font-size: 25px;
  }
  #food-menu4 #food-menu-column4 p {
    font-size: 25px;
    padding-left: 10px;
  }
  #food-menu4 #food-menu-column4 em {
    font-size: 25px;
    padding-left: 50px;
    color: rgb(160, 142, 90);
  }
  #food-menu4 #food-menu-column4 {
    float: right;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  #food-menu4 #food-menu-column4 .button-add-food4 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 95px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu4 .left, #food-menu4 .right {
    width: 50%;
  }
  #food-menu4 #food-menu4:after {
    content: "";
    display: table;
    clear: both;
  }
  #Dessert-section h4 {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
  }
  #food-menu5 {
    display: flex;
    /* Clear floats after the columns */
  }
  #food-menu5 #food-menu-column5 {
    flex: 50%;
    float: left;
    margin-bottom: 20px;
  }
  #food-menu5 #food-menu-column5 h4 {
    font-size: 25px;
  }
  #food-menu5 #food-menu-column5 p {
    font-size: 25px;
    padding-left: 10px;
  }
  #food-menu5 #food-menu-column5 em {
    font-size: 25px;
    padding-left: 50px;
  }
  #food-menu5 #food-menu-column5 {
    float: right;
    padding-right: 200px;
    margin-bottom: 20px;
  }
  #food-menu5 #food-menu-column5 .button-add-food5 {
    display: inline-block;
    background-color: rgb(160, 142, 90);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 55px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #food-menu5 .left, #food-menu5 .right {
    width: 50%;
  }
  #food-menu5 #food-menu5:after {
    content: "";
    display: table;
    clear: both;
  }
}
body {
  background: rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */