footer {
   
    background: $golden;
    color: $white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: $body-font-size;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    
    
}
