// colors
$white: rgb(255, 255, 255);
$golden: rgb(160, 142, 90);
$black: rgb(0, 0, 0);
$red: rgb(149, 56, 56);

// fonts
$header-font: "EB Garamond", serif;
$body-font:  "EB Garamond", serif;

// fonts size
$header-font-size: 60px;
$subheader-font-size: 35px;
$body-font-size: 20px;
$navbar-font-size: 25px;
$button-font-size: 22px;
$tablet-body-font-size: 25px;
$mobile-header-font-size: 45px;
$mobile-subheader-font-size: 30px;


// spacing
$xxx-large-spacing: 200px;
$xx-large-spacing: 100px;
$x-large-spacing: 60px;
$large-spacing: 40px;
$med-spacing: 20px;
$small-spacing: 10px;

//border-radius
$med-border-radius: 20px;
$small-border-radius: 5px;

// buttons
$button-padding: 25px 45px;
$button-food-menu-padding: 15px 35px;

//mobile

$h1-font-size: 45px;
